{% extends "plexos.html" %}
{% load humanize %}
{% load addstr %}
{% block address %}
<table class="address">
<tr>
	<td>To:</td>
	<td>{{ quote.recipient.fname }} {{ quote.recipient.lname }}</td>
	<td>Date:</td>
	<td>{{ quote.created|date }}</td>
</tr>
<tr>
	<td></td>
	<td>{{ quote.recipient.company }}</td>
	<td>Valid Until:</td>
	<td>{{ quote.valid|date }}</td>
</tr>
<tr>
	<td></td>
	<td>{{ quote.recipient.address|linebreaks }}</td>
	<td>Quote #:</td>
	<td>{{ quote.number }}</td>
</tr>
</table>
{% endblock %}
{% block preamble %}
<p>Dear {{ quote.recipient.salutation }} {{ quote.recipient.lname }}:</p>
<p>
Please find below your quote for {{ quote.lineitem2_set.all.0.product.section.product_line.name }} Licensing. 
{% if quote.get_engine_license_count > 0 %}
This quote includes {{ quote.get_engine_license_count }} 
{{ quote.lineitem2_set.all.0.product.section.product_line.name }} License{% if quote.get_engine_license_count > 1%}s{% endif %}.
{% endif %}
{% if quote.get_solver_license_count > 0 %}
This quote 
{% if quote.get_engine_license_count > 0 %}
also
{% endif %}
includes {{ quote.get_solver_license_count }} solver License{% if quote.get_solver_license_count > 1%}s{% endif %}.
{% endif %}
{% if quote.get_data_license_count > 0 %}
This quote 
{% if quote.get_engine_license_count > 0 or quote.get_solver_license_count > 0 %}
also
{% endif %}
includes {{ quote.get_data_license_count }} dataset License{% if quote.get_engine_data_count > 1%}s{% endif %} 
as noted below.
{% endif %}

</p>
<p>{{ quote.description }}</p>
<p>NOTE: This quote is in {{ quote.currency.name }}.</p>
{% endblock %}
{% block detail %}
<table class="detail">
<tr>
<td width="160px" class="header">Section</td>
<td class="header">Item</td>
<td class="header">Qty</td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		<td class="header" align="right">{{ "Year " }}{{ year }}</td>
	{% endfor %}
{% else %}
<td class="header">Price</td>
<td class="header">Subtotal</td>
{% endif %}
<td class="header">Total</td>
{% if quote.get_discount > 0 %}
<td class="header">Savings</td>
{% endif %}
</tr>
{% for item in quote.lineitem2_set.all %}
<tr>
<td class="detail">{% ifchanged item.product.section %}{{ item.product.section }}{% endifchanged %}</td>
<td class="detail">{{ item.description }}</td>
<td class="detail" align="right">{{ item.quantity }}</td>
{% if quote.num_years > 1 %}
	{% for year, year_subtotal in item.get_multi_year_subtotal.items %}
		<td class="detail" align="right">{{ item.quote.currency.symbol }}{{ year_subtotal|intcomma }}</td>
	{% endfor %}
{% else %}
<td class="detail" align="right">{{ item.quote.currency.symbol }}{{ item.rate|intcomma }}</td>
<td class="detail" align="right">{{ item.quote.currency.symbol }}{{ item.subtotal|intcomma }}</td>
{% endif %}
<td class="detail" align="right">{{ item.quote.currency.symbol }}{{ item.total|intcomma }}</td>
{% if item.discount > 0 %}
<td class="detail" align="right">{{ item.quote.currency.symbol }}{{ item.discount|intcomma }}</td>
{% endif %}
</tr>
{% for prod in item.product.bundle.all %}
<tr><td	/><td class="detail">
<i>{{ prod.quantity }}x {{ prod.prod.note }}</i>
<td/></tr>
{% endfor %}
{% endfor %}


{% if quote.get_software_subtotal > 0 %}
<tr>
<td class="detail">Software Total</td>
<td class="detail"></td>
<td class="detail"></td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_software_multiyear_subtotals|get_item:year|intcomma }}</td>
	{% endfor %}
{% else %}
<td class="detail"></td>
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_software_subtotal|intcomma }}</td>
{% endif %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_software_total|intcomma }}</td>
{% if quote.get_software_discount > 0 %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_software_discount|intcomma }}</td>
{% endif %}
</tr>
{% endif %}

{% if quote.get_training_subtotal > 0 %}
<tr>
<td class="detail">Training Total</td>
<td class="detail"></td>
<td class="detail"></td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_training_multiyear_subtotals|get_item:year|intcomma}}</td>
	{% endfor %}
{% else %}
<td class="detail"></td>
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_training_subtotal|intcomma }}</td>
{% endif %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ totals.get_training_total|intcomma }}</td>
</tr>
{% endif %}

{% if quote.get_impl_subtotal > 0 %}
<tr>
<td class="detail">Implementation Total</td>
<td class="detail"></td>
<td class="detail"></td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_impl_multiyear_subtotals|get_item:year|intcomma}}</td>
	{% endfor %}
{% else %}
<td class="detail"></td>
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_impl_subtotal|intcomma }}</td>
{% endif %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_impl_total|intcomma }}</td>
{% if quote.get_impl_discount > 0 %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_impl_discount|intcomma }}</td>
{% endif %}
</tr>
{% endif %}

{% if quote.get_data_subtotal > 0 %}
<tr>
<td class="detail">Dataset Total</td>
<td class="detail"></td>
<td class="detail"></td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_data_multiyear_subtotals|get_item:year|intcomma}}</td>
	{% endfor %}
{% else %}
<td class="detail"></td>
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_data_subtotal|intcomma }}</td>
{% endif %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_data_total|intcomma }}</td>
{% if quote.get_data_discount > 0 %}
<td class="detail" align="right">{{ quote.currency.symbol }}{{ quote.get_data_discount|intcomma }}</td>
{% endif %}
</tr>
{% endif %}

<tr>
<td class="total">Total</td>
<td class="total"></td>
<td class="total"></td>
{% if quote.num_years > 1 %}
	{% for year in quote.get_multi_year_range %}
		{% with year as input %}
		<td class="total" align="right">{{ quote.currency.symbol }}{{ quote.get_multiyear_subtotals|get_item:input|intcomma}}</td>
		{% endwith %}
	{% endfor %}
{% else %}
<td class="total"></td>
<td class="total" align="right">{{ quote.currency.symbol }}{{ quote.get_subtotal|intcomma }}</td>
{% endif %}
<td class="total" align="right">{{ quote.currency.symbol }}{{ quote.get_total|intcomma }}</td>
{% if quote.get_discount > 0 %}
<td class="total" align="right">{{ quote.currency.symbol }}{{ quote.get_discount|intcomma }}</td>
{% endif %}
</tr>
</table>
{% endblock %}

{% block closing %}
<p>
We look forward to further conversation about {{ quote.lineitem2_set.all.0.product.section.product_line.name }} and 
our products and services.
</p>
<p>
Please regard this pricing information as confidential.
</p>
<p>
Thank you for your interest in {{ quote.lineitem2_set.all.0.product.section.product_line.name }},
</p>
<br/>
<br/>
<br/>

<p>
	{% if quote.signature.first_name %}
		{{ quote.signature.first_name }}{{" "}}{{ quote.signature.last_name}}<br/>
		{{ quote.signature.title }} <br/>
		Energy Exemplar<br/>
		{{ quote.signature.location }} <br/>
		<a href="mailto:{{ signature.email }}">{{ quote.signature.email }}</a> <br/>
		{{ quote.signature.phone_number }} <br/>
	{% else %}
		Invalid Signature 
	{% endif %}
</p>
{% endblock %}