{% extends "leavereport.html" %}
{% load humanize %}
{% load keyvalue %}
{% block preamble %}
<h1>{{ title }}</h1>
{% endblock %}
{% block detail %}
<h2>Leave for {{ year }}-{{ month }}</h2>
<p><a href="/leavereq/{{ prev|date:'Y/m' }}">Previous month</a></p>
<p><a href="/leavereq/{{ next|date:'Y/m' }}">Next month</a></p>
<table class="detail">
<tr>
<td class="detail">Day</td>
{% for k, v in pivot_tbl.0.iteritems %}
{% if k != 'day' %}
<td class="detail">
<a href="/leavereq/{{ k }}">
{{ k|slice:"0:5" }}
</a>
</td>
{% endif %}
{% endfor %}
</tr>
{% for day in pivot_tbl %}
<tr>
<td class="detail">{{ day.day|date:"d" }}</a></td>
{% for k in pivot_tbl.0 %}
{% if k == "day" %}
{% else %}
<td class="detail">
{{ day|keyvalue:k }}
</td>
{% endif %}
{% endfor %}
<tr>
{% endfor %}
</table>
{% endblock %}
