{% extends "timecards.html" %}
{% load humanize %}
{% block preamble %}
<h1>{{ title }}</h1>
{% endblock %}
{% block detail %}
<h2>Leave for {{ year }}</h2>
<table class="detail">
<tr>
<td class="detail">Date</td>
{% for k, v in pivot_tbl.0.iteritems %}
{% if k != 'month' %}
<td class="detail">
{% if year %}
<a href="/timecards/resource/{{ k }}/{{ year }}/{{ month }}">
{% else %}
<a href="/timecards/resource/{{ k }}">
{% endif %}
{{ k|slice:"0:5" }}
</a>
</td>
{% endif %}
{% endfor %}
</tr>
{% for day in pivot %}
<tr>
<td class="detail">{{ day.date_of_work|date:"m/d" }}</td>
{% for k in pivot.0 %}
{% if k == "date_of_work" %}
{% else %}
<td class="detail">
{{ day|keyvalue:k }}
</td>
{% endif %}
{% endfor %}
<tr>
{% endfor %}
</table>
{{ pivot_tbl }}
{% endblock %}
