{% extends "leavereport.html" %}
{% load humanize %}
{% load keyvalue %}
{% block preamble %}
<h1>{{ title }}</h1>
{% endblock %}
{% block detail %}
<h2>Leave for {{ year }}</h2>
<table class="detail">
<tr>
<td class="detail">Month</td>
{% for k, v in pivot_tbl.0.iteritems %}
{% if k != 'month' %}
<td class="detail">
<a href="/leavereq/{{ k }}">
{{ k|slice:"0:5" }}
</a>
</td>
{% endif %}
{% endfor %}
</tr>
{% for month in pivot_tbl %}
<tr>
<td class="detail"><a href="/leavereq/{{ month.month|date:'Y/m' }}">{{ month.month|date:"M" }}</a></td>
{% for k in pivot_tbl.0 %}
{% if k == "month" %}
{% else %}
<td class="detail">
{{ month|keyvalue:k }}
</td>
{% endif %}
{% endfor %}
<tr>
{% endfor %}
</table>
{% endblock %}
