{% extends "leavereport.html" %}
{% load humanize %}
{% load keyvalue %}
{% block preamble %}
<h2>Rolling Year Leave Report for {{ resource }}</h2>
<h3>{{ start|date }} -- {{ end|date }}</h3>
{% endblock %}
{% block detail %}
<h4>Summary</h4>
<table>
<table class="detail">
<tr>
{% for k, v in pivot_tbl.0.iteritems %}
<td class="detail">{{ k }}</td>
{% endfor %}
</tr>
{% for item in pivot_tbl %}
<tr>
{% for k in pivot_tbl.0 %}
<td class="detail">
{{ item|keyvalue:k }}
</td>
{% endfor %}
<tr>
{% endfor %}
</table>
<h4>Detail</h4>
<table class="detail">
	<tr>
		<td class="detail">
			Request
		</td>
		<td class="detail">
			Approved?
		</td>
		<td class="detail">
			Type
		</td>
		<td class="detail">
			Date
		</td>
		<td class="detail">
			Hours
		</td>
	</tr>
	{% for row in leavedays %}
		<tr>
			<td class="detail">{% ifchanged row.request.id %}{{ row.request }}{% endifchanged %}</td>
			<td class="detail">{% ifchanged row.request.id %}{{ row.request.is_approved }}{% endifchanged %}</td>
			<td class="detail">{% ifchanged row.request.id %}{{ row.request.leave_type }}{% endifchanged %}</td>
			<td class="detail">{{ row.date_of_leave|date:"M d" }}</td>
			<td class="detail" align="right">{{ row.hours }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
