{% extends "summary_report.html" %}
{% load humanize %}
{% block dependencies %}    <!-- Plotly.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block summary %}
<table class="summary">
<tr><td class="header">Project Name</td><td class="summary">{{ plans.0.project_name }}</td></tr>
<tr><td class="header">Account</td><td class="summary">{{ plans.0.group.company.name }}</td></tr>
<tr><td class="header">Group</td><td class="summary">{{ plans.0.group.name }}</td></tr>
{% for use in plans.0.usecase.all %}
<tr><td class="header">Use Case</td><td class="summary">{{ use.name }}</td></tr>
{% endfor %}
<tr><td class="header">Company Hours of Effort</td><td class="summary">{{ plans.0.company_effort|floatformat:0|intcomma }}</td></tr>
<tr><td class="header">Energy Exemplar Hours of Effort</td><td class="summary">{{ plans.0.ee_effort|floatformat:0|intcomma }}</td></tr>
<tr><td class="header">Energy Exemplar Project Cost</td><td class="summary">${{ plans.0.project_cost|floatformat:0|intcomma }}</td></tr>
</table>
{% endblock %}

{% block gantt %}
<div id="tester" class="gantt">
    <script>
        var data = {
          "{{ plans.0.project_name }} Project Plan":{
            "color": "#337ab7",
            "data":[{% for task in plans.0.get_tasks %}{% if forloop.counter != 1 %},{% endif %}
                {"start_date": "{{ task.start_date|date:"Y-m-d" }} 00:00","end_date": "{{ task.end_date|date:"Y-m-d" }} 23:59","name": "{{ task.name }}","color": "{{ task.color }}",}{% endfor %}
            ]
          }  
        };
        
        var traces = [];
        Object.keys(data).forEach(function(key,index){
          data[key].data.forEach(function(dt,index){
              var trace = { 
                x: [dt.start_date, dt.end_date],
                y: [dt.name, dt.name],
                name: "",
                mode:'lines',
                line:{width:15, color : dt.color} ,
                showlegend:false
              };
            traces.push(trace);
          });
        });
        
        var layout = {
            hovermode: !1, autosize: true,
            title: '{{plans.0.project_name}} Project Plan', titlefont: { size: 24 },
            xaxis: {
                title: '{{ plans.0.project_name }} Project Timeline',
                titlefont: { size: 16 }, tickfont: { size: 12 },
                showgrid: true, zerolinecolor: '#969696', zerolinewidth: 1,
            },
            yaxis: {
                title: '{{ plans.0.project_name }} Project Tasks',
                titlefont: { size: 16 }, tickfont: { size: 12 },
                showgrid: true, zerolinecolor: '#969696', zerolinewidth: 1, autorange: "reversed",
            },
            legend: { orientation: 'h', x: 0.5, y: -0.2, xanchor: 'center' },
            margin: { l: 200, b: 80, r: 30, t: 50, pad: 5 }
        };
        
        Plotly.newPlot($('#tester').get(0), traces, layout);
    </script>
</div>
{% endblock %}

{% block detail %}
<table class="task">
    <thead>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Cost</th>
        <th>EE Hours</th>
        <th>{{ plans.0.group.company.name}} Hours</th>
        <th>Assigned</th>
    </thead>
{% for task in plans.0.get_tasks %}
    <tr>
        <td class="detail">{{ task.outline }}</td>
        <td class="detail">{{ task.name }}</td>
        <td class="detail">{{ task.start_date|date }}</td>
        <td class="detail">{{ task.end_date|date }}</td>
        <td class="numberdetail">${{ task.cost|floatformat:0|intcomma }}</td>
        <td class="numberdetail">{{ task.ee_hours|floatformat:0|intcomma }}</td>
        <td class="numberdetail">{{ task.company_hours|floatformat:0|intcomma }}</td>
        <td class="detail">{{ task.res }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}