{% extends "timecards.html" %}
{% load keyvalue %}
{% block preamble %}
<table width="700px">
<tr>
<th><a href="{{ prev }}">prev</a></th>
<th><h1>{{ title }}</h1></th>
<th><a href="{{ next }}">next</a></th>
</tr>
</table>
{% endblock %}
{% block detail %}

{% if pivot %}
<table class="detail">
<tr>
<td class="detail">Date</td>
{% for k in pivot.0 %}
{% if k != 'date_of_work' %}
<td class="detail">
<a href="/timecards/project/{{ k }}/{{ year }}/{{ month }}" title="{{ k }}">
{{ k|slice:"0:5" }}
</a>
</td>
{% endif %}
{% endfor %}
</tr>
{% for day in pivot %}
<tr>
<td class="detail">{{ day.date_of_work|date:"m/d" }}</td>
{% for k in pivot.0 %}
{% if k == "date_of_work" %}
{% else %}
<td class="detail">
{{ day|keyvalue:k|floatformat:2 }}
</td>
{% endif %}
{% endfor %}
<tr>
{% endfor %}
</table>
{% endif %}

{% regroup timecards by project as project_list %}
{% for name, cards in project_list %}
<h2>
{{ name }} 
(<a href="/timecards/todate/{{ cards.0.project.id }}/{{ year }}-{{ month }}-00">to date</a>)
{% if cards.0.project.billing_method.is_billed %}
(<a href="/timecards/billable/{{ name }}/{{ year }}/{{ month }}">consulting report</a>
{% endif %}
</h2>
<table class="detail">
<tr>
	<td class="detail">Resource</td>
	<td class="detail">Phase</td>
	<td class="detail">Date</td>
	<td class="detail">Hours</td>
	<td class="detail">Comment</td>
</tr>
{% for card in cards %}
<tr>
	<td class="detail">
		<a href="/timecards/resource/{{ card.timesheet.resource.username.username}}/{{ year }}/{{ month }}">
			{{ card.timesheet.resource.full_name }}
		</a>
	</td>
	<td class="detail">
		{{ card.phase.phase_name }}
	</td>
	<td class="detail">
		{{ card.date_of_work|date:"d N Y" }}
	</td>
	<td class="detail">
		{{ card.hours }}
	</td>
	<td class="detail">
		{{ card.comment }}
	</td>
<tr>
{% endfor %}
</table>
{% endfor %}
{% endblock %}