{% extends "timecards.html" %}
{% block preamble %}
<table width="700px">
<tr>
<th><a href="{{ prev }}">prev</a></th>
<th><h1>{{ title }}</h1></th>
<th><a href="{{ next }}">next</a></th>
</tr>
</table>
{% endblock %}
{% block detail %}
{% regroup timecards by timesheet.resource.full_name as resource_list %}
{% for name, cards in resource_list %}
<h2><a href="/timecards/resource/{{ cards.0.timesheet.resource.username.username }}">{{ name }}</a></h2>
<table class="detail">
<tr>
	<td class="detail">Project</td>
	<td class="detail">Phase</td>
	<td class="detail">Date</td>
	<td class="detail">Hours</td>
	<td class="detail">Comment</td>
</tr>
{% for card in cards %}
<tr>
	<td class="detail">
		<a href="/timecards/project/{{ card.project.project_name }}/{{ year }}/{{ month }}">
			{{ card.project.project_name }}
		</a>
	</td>
	<td class="detail">
		{{ card.phase.phase_name }}
	</td>
	<td class="detail">
		{{ card.date_of_work|date:"Y-m-d" }}
	</td>
	<td class="detail">
		{{ card.hours }}
	</td>
	<td class="detail">
		{{ card.comment }}
	</td>
<tr>
{% endfor %}
</table>
{% endfor %}
{% endblock %}